.container1{
    position:relative;
    width:30%;
    left: 29rem;
}
.card{

    width:100%;
    font-size: 1rem;
    height:100%;
    border-radius: 8%;
    color: rgb(0, 0, 0);
}

input[type="text"], input[type="number"], input[type="password"]{
    border: 1px solid black;
}
